*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



/* COMPONENT 1: EVENT CARD */
.eventCard-link {
    text-decoration: none;
    color: #000;
}

.eventCard {
    box-sizing: border-box;
    width: 340px;
    height: 256px;
    border: 1px solid#E6DDDD;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px rgba(88, 88, 88, 0.3);
    transition: all 0.5s;
}

.eventCard:hover {
    box-shadow: 0px 0px 3px 0px rgba(88, 88, 88, 0.5);
    transform: translate(0px, -2px);
}

.eventContent {
    margin: 10px;
}

.eventHead {
    margin: 0;
    margin-top: 10px;
}

.eventTime {
    margin-top: 20px;
    color: #0098ab;
    font-size: 14px;
    font-weight: 600;
}

.eventTitle {
    font-size: 20px;
    font-weight: bold;
    line-height: 150%;
}

.eventLocation {
    display: flex;
    margin: 2px 0 0 0;
}
.eventGroup {
    color: #2e3e48;
}

.eventIcon {
    margin-top: 0px;
}

.eventAdress {
   color: rgb(88, 88, 88);
   margin: 3px 0 0 0;
   font-size: 15px;
}

.eventAttend {
    display: flex;
    margin: 20px 0 0 0;
}

.attendingCount {
    color: rgb(88, 88, 88);
    font-size: 15px;
    flex-grow: 1;
    margin-left: 0;
}

.attendButton {
    font-size: 14px;
    padding: 11px 20px;
    border-radius: 5px;
    margin: 0;
    margin-right: 6px;
    color: #0098ab;
    border: 1px solid #0098ab;
    font-weight: bold;
    transition: all 0.5s;
}

.attendButton:hover {
   color: #FFF;
   background-color: #0098ab;
}


/* COMPONENT 2: GROUPCARD */

.groupCard-link {
    text-decoration: none;
    color: #000;
}

.groupCard {
    box-sizing: border-box;
    width: 250px;
    height: 324.63px;
    border: 1px solid#E6DDDD;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px rgba(88, 88, 88, 0.3);
    transition: all 0.5s;
}

.groupCard:hover {
    box-shadow: 0px 0px 3px 0px rgba(88, 88, 88, 0.5);
    transform: translate(0px, -2px);
}
.groupCard-image-1 {
    height: 43.75%;
    background-image: url('https://secure.meetupstatic.com/photos/event/7/5/1/5/600_480149973.jpeg');
    background-position: center;
    background-size: cover;
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.groupCardContent {
    margin: 20px;
    height: 56.25%;
}

.groupCard-category {
    color: rgb(88, 88, 88);
    margin: 3px 0 0 0;
    font-size: 14px;
}

.groupCard-title {
    margin: 15px 0 45px 0;
    font-size: 20px;
    font-weight: 600;
}

.groupCard-members {
    margin: 0;
    color: rgb(88, 88, 88);
    font-size: 14px;
}

/* COMPONENT 3: CATEGORY CARD */

.categoryCard-link {
    text-decoration: none;
    color: #000;
}

.categoryCard {
    width: 253px;
    height: 192px;
}
.categoryCard-image-1 {
    height: 160px;
    background-image: url('https://secure.meetupstatic.com/photos/event/2/e/a/7/600_450131943.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.categoryCard-title h4 {
    margin: 0;
}

/* COMPONENT 4: CATEGORY BUTTON */

.categoryButton {
    text-decoration: none;
    font-size: 14px;
    color: rgb(88, 88, 88);
    font-weight: bold;
    border-radius: 5px;
    padding: 7px 10px;
    border: 1px solid rgba(88, 88, 88, 0.3);
    background-color: rgb(246, 247, 248);
    transition: all 0.5s;
}

.categoryButton:hover {
    border: 1px solid rgba(88, 88, 88, 0.7);
}

/* COMPONET 5: CREATE GROUP */

.createGroup{
    width: 1060px;
    height: 380px;
    display: flex;
}

.createGroup-content {
    width: 700px;
    background-color: rgb(122, 29, 71);;
    margin: 0;
}

.createGroup-content .main {
    margin: 90px 60px 0px;
    color: #FFF;
}

.createGroup-content .main h1 {
    margin-bottom: 30px;
}

.createGroup-content .main p {
    margin-bottom: 50px;
    line-height: 150%;
}

.createGroup-link-1 {
    text-decoration: none;
    color: #FFF;
    background-color: rgba(246, 88, 88, 0.99);
    padding: 13px 20px;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 5px;
    transition: all 0.5s;
}

.createGroup-link-1:hover {
    background-color: rgba(246, 88, 88, 0.8);
}

.createGroup-link-2 {
    box-sizing: border-box;
    text-decoration: none;
    color:rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);;
    margin-left: 0;
    padding: 13px 20px;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.5s;
}

.createGroup-link-2:hover {
    color: rgba(255, 255, 255, 0.8);
    border-color:  rgba(255, 255, 255, 0.8);
}


.createGroup-image {
    margin: 0;
    margin-left: 20px;
    width: 340px;
    background-image: url('https://www.meetup.com/mu_static/en-US/yoga.fa45f7d2.jpg');
    background-size: cover;
    background-position: center;
}

/* COMPONENT 6: EXPLORE HOME */

.exploreHome {
    position: relative;
    height: 460px;
    background-image: linear-gradient(90deg, rgba(1,1,1,0.4) 0%, rgba(0,0,0,0.4) 100%), url('https://www.meetup.com/mu_static/en-US/still_7.1fe15e9b.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}


.exploreHome-title {
    font-size: 42px;
    font-weight: bold;
}

.exploreHome-content {
    font-size: 19px;
    font-weight: bold;
}

.exploreHome-link {
    text-decoration: none;
    background-color: #F13A59;
    color: #FFF;
    padding: 15px 100px;
    border-radius: 3px;
    margin-top: 40px;
    font-weight: bold;
    transition: all 0.5s;
}

.exploreHome-link:hover {
    background-color: #e2183a;
}

/* COMPONENT 7: NAV BAR */

.navbar {
    height: 86.7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo{
    flex-grow: 1;
}

.navbar-item a{
    font-size: 14px;
    text-decoration: none;
    transition: all 0.1s;
}
.navbar-item .item-1 {
    color: rgb(0, 162, 199);
    font-weight: bold;
    font-size: 14px;
    padding: 5px 20px;
    border-right: 1px solid rgba(46, 62, 72, 0.3);
}

.navbar-item .item-2 {
    color: rgb(88, 88, 88);
}

.navbar-item .item-2:hover {
    color: rgba(0, 162, 199, 0.6);
}