*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



/* COMPONENT 1: EVENT CARD */
.eventCard-link {
    text-decoration: none;
    color: #000;
}

.eventCard {
    box-sizing: border-box;
    width: 340px;
    height: 256px;
    border: 1px solid#E6DDDD;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px rgba(88, 88, 88, 0.3);
    transition: all 0.5s;
}

.eventCard:hover {
    box-shadow: 0px 0px 3px 0px rgba(88, 88, 88, 0.5);
    transform: translate(0px, -2px);
}

.eventContent {
    margin: 10px;
}

.eventHead {
    margin: 0;
    margin-top: 10px;
}

.eventTime {
    margin-top: 20px;
    color: #0098ab;
    font-size: 14px;
    font-weight: 600;
}

.eventTitle {
    font-size: 20px;
    font-weight: bold;
    line-height: 150%;
}

.eventLocation {
    display: flex;
    margin: 2px 0 0 0;
}
.eventGroup {
    color: #2e3e48;
}

.eventIcon {
    margin-top: 0px;
}

.eventAdress {
   color: rgb(88, 88, 88);
   margin: 3px 0 0 0;
   font-size: 15px;
}

.eventAttend {
    display: flex;
    margin: 20px 0 0 0;
}

.attendingCount {
    color: rgb(88, 88, 88);
    font-size: 15px;
    flex-grow: 1;
    margin-left: 0;
}

.attendButton {
    font-size: 14px;
    padding: 11px 20px;
    border-radius: 5px;
    margin: 0;
    margin-right: 6px;
    color: #0098ab;
    border: 1px solid #0098ab;
    font-weight: bold;
    transition: all 0.5s;
}

.attendButton:hover {
   color: #FFF;
   background-color: #0098ab;
}


/* COMPONENT 2: GROUPCARD */

.groupCard-link {
    text-decoration: none;
    color: #000;
}

.groupCard {
    box-sizing: border-box;
    width: 250px;
    height: 324.63px;
    border: 1px solid#E6DDDD;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px rgba(88, 88, 88, 0.3);
    transition: all 0.5s;
}

.groupCard:hover {
    box-shadow: 0px 0px 3px 0px rgba(88, 88, 88, 0.5);
    transform: translate(0px, -2px);
}
.groupCard-image-1 {
    height: 43.75%;
    background-image: url('https://secure.meetupstatic.com/photos/event/7/5/1/5/600_480149973.jpeg');
    background-position: center;
    background-size: cover;
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.groupCardContent {
    margin: 20px;
    height: 56.25%;
}

.groupCard-category {
    color: rgb(88, 88, 88);
    margin: 3px 0 0 0;
    font-size: 14px;
}

.groupCard-title {
    margin: 15px 0 45px 0;
    font-size: 20px;
    font-weight: 600;
}

.groupCard-members {
    margin: 0;
    color: rgb(88, 88, 88);
    font-size: 14px;
}

/* COMPONENT 3: CATEGORY CARD */

.categoryCard-link {
    text-decoration: none;
    color: #000;
}

.categoryCard {
    width: 253px;
    height: 192px;
}
.categoryCard-image-1 {
    height: 160px;
    background-image: url('https://secure.meetupstatic.com/photos/event/2/e/a/7/600_450131943.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.categoryCard-title h4 {
    margin: 0;
}

/* COMPONENT 4: CATEGORY BUTTON */

.categoryButton {
    text-decoration: none;
    font-size: 14px;
    color: rgb(88, 88, 88);
    font-weight: bold;
    border-radius: 5px;
    padding: 7px 10px;
    border: 1px solid rgba(88, 88, 88, 0.3);
    background-color: rgb(246, 247, 248);
    transition: all 0.5s;
}

.categoryButton:hover {
    border: 1px solid rgba(88, 88, 88, 0.7);
}