/* ---------------------------------------------------------- */
/* ----------------------------DEFAUT SETUP------------------ */
/* ---------------------------------------------------------- */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-rendering: optimizeLegibility; /* Hiện thị chữ lên website 1 cách tốt nhất */
    /* mặc định là 16px */
}

/* --------------------------------------------------------- */
/* -------------------SỬ DỤNG LẠI NHIỀU LẦN----------------- */
/* --------------------------------------------------------- */


/* --------------------------------------------------------- */
/* --------------------------HEADER------------------------- */
/* --------------------------------------------------------- */
